
/*====== Le cadre ===*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.conteneur {
	height: 100%;
	width: 450px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}




/*=====  1er bloc  =====*/

.enTete { display: flex;
	flex-flow: column;
	align-items: center;

}

.enTete h1 {
	text-align: center;
	color: rgb(178, 36, 48);
	width: 50%;
}

img {
	height : 200px;
	width: 200px;
}




/*======  2e bloc  =====*/

form {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}




/*======  3e bloc  =====*/


	/*=== Choix 0 par défaut  Ecran accueil  ===*/





	/*=== Choix 1 ===*/





	/*=== Choix 2 ===*/





	/*=== Choix 3 ===*/
