@media all and (max-width: 970px) {
svg {
	display: none;
}
#enTete h1 {
	visibility: visible;
	text-align: center;
	color: rgb(178, 36, 48);
	width: 125%;
	font-family: "alpha_echoregular", sans-serif;
	margin-bottom: 285px;
	text-shadow: 6px 6px 1px black, -1px -1px 1px white;
}
}



@font-face {
    font-family: 'alpha_echoregular';
    src: url('../font/alpha_echo-webfont.eot');
    src: url('../font/alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alpha_echo-webfont.woff2') format('woff2'),
         url('../font/alpha_echo-webfont.woff') format('woff'),
         url('../font/alpha_echo-webfont.ttf') format('truetype'),
         url('../font/alpha_echo-webfont.svg#alpha_echoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*====== Le cadre ===*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #696969;
}

.conteneur {
	height: 100%;
	width: 450px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/*=====  1er bloc  =====*/

#enTete { display: flex;
	flex-flow: column;
	align-items: center;
	width: 1000px;
}

h1 {
	visibility: hidden;
}

path {
  fill: transparent;
}

text {
  fill: rgb(178, 36, 48);
	stroke: black;
	font-family: "alpha_echoregular", sans-serif;
	font-size: 31px;
}

img {
	height : 230px;
	width: 230px;
	padding-top: 0px;
	margin-top: -250px;
	margin-bottom: 35px;
}


/*======  2e bloc  =====*/

form {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
}

#choix_options {
	background-color: black;
	color: white;
	width: 175px;
	height: 50px;
}


/*======  3e bloc  =====*/


	/*=== Choix 0 par défaut  Ecran accueil  ===*/





	/*=== Choix 1 ===*/





	/*=== Choix 2 ===*/





	/*=== Choix 3 ===*/
